<el-row>
    <el-col :span="24" class="toolbar" style="padding-bottom: 0px;">
        <el-form :inline="true">
            <el-form-item>
                <el-select v-model="dept_id" placeholder="部门" clearable filterable>
                    <el-option
                      v-for="item in dept_options"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <el-input type="text" placeholder="学员名/花名" v-model="username"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary"  class="el-icon-search" v-on:click="load">查询</el-button>
            </el-form-item>
            <el-form-item>
                <el-upload
                  ref="upload"
                  :action="uploadurl"
                  :on-success="on_upload"
                  :auto-upload="true">
                  <el-button slot="trigger" size="small" type="primary">导入</el-button>
                </el-upload>
            </el-form-item>
        </el-form>
    </el-col>
    <el-col >
		<el-table :data="items" element-loading-text="拼命加载中" highlight-current-row stripe style="width: 100%;margin-top: 15px;">
			<el-table-column label="学员名称">
                <template slot-scope="scope">
                    <span v-if="scope.row.username"><el-tag type="success">{{scope.row.username}}</el-tag></span>
                    <span v-if="scope.row.nickname">({{ scope.row.nickname }})</span>
				</template>
			</el-table-column>
            <el-table-column label="部门/职位">
                <template slot-scope="scope">
                    <span v-if="scope.row.dept">{{ scope.row.dept }}<br/></span>
                    {{ scope.row.post }}
                </template>
            </el-table-column>
            <el-table-column label="报名状态">
                <template slot-scope="scope">
                    <span v-html="scope.row.signup === true ? '已报名':''"></span>
                    <span v-if="scope.row.signup === true"><br/>{{ scope.row.sign_time }}</span>
                </template>
            </el-table-column>
            <el-table-column label="分数">
                <el-table-column label="单选题" prop="single" width="80"></el-table-column>
                <el-table-column label="多选题" prop="multi" width="80"></el-table-column>
                <el-table-column label="判断题" prop="judge" width="80"></el-table-column>
                <el-table-column label="简单题" prop="answer" width="80"></el-table-column>
            </el-table-column>
            <el-table-column label="总分" prop="score" width="100"></el-table-column>
            <el-table-column label="补考分数" prop="makeup" width="100">
                <template slot-scope="scope">
                    <span v-if="scope.row.makeup !== 0">{{ scope.row.makeup }}</span>
                </template>
            </el-table-column>
            <el-table-column label="平均分" prop="average"></el-table-column>
            <el-table-column label="操作" width="100">
                <template slot-scope="scope">
                    <el-button type="text" @click="editScore(scope.row, scope.$index)" icon="el-icon-edit"></el-button>
                </template>
            </el-table-column>
		</el-table>
    </el-col>
    <el-col>
        <div class="block" style="float: right;margin-right: 10px;margin-top: 10px;">
            <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="startPage"
                :page-sizes="pageSizes"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
            </el-pagination>
        </div>
    </el-col>
    <el-col :span="2">
        <el-dialog title="变更分数" :visible.sync="dialogFormVisible" :model="form">
            <div style="width: 80%; margin: 0 auto;">
                <el-form status-icon :inline="false" label-width="60px">
                    <el-form-item label="单选题">
                        <el-input-number type="text" placeholder="单选题分数" auto-complete="off" v-model="form.single"></el-input-number>
                    </el-form-item>
                    <el-form-item label="多选题">
                        <el-input-number type="text" placeholder="多选题分数" auto-complete="off" v-model="form.multi"></el-input-number>
                    </el-form-item>
                    <el-form-item label="判断题">
                        <el-input-number type="text" placeholder="判断题分数" auto-complete="off" v-model="form.judge"></el-input-number>
                    </el-form-item>
                    <el-form-item label="简单题">
                        <el-input-number type="text" placeholder="简单题分数" auto-complete="off" v-model="form.answer"></el-input-number>
                    </el-form-item>
                    <el-form-item label="补考分">
                        <el-input-number type="text" placeholder="补考分数" auto-complete="off" v-model="form.makeup"></el-input-number>
                    </el-form-item>
                </el-form>
            </div>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitSocre">保存</el-button>
                <el-button @click="dialogFormVisible=false">取消</el-button>
            </div>
        </el-dialog>
    </el-col>
</el-row>